<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %>'s new weather list</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Create a List</h1>
    <form action="/lists" method="POST">
      <p>
        <label for="name">List name:</label>
        <input
          type="text"
          name="name"
          id="name"
        />
        <br>

        <label for="description">Description:</label>
        <textarea
          name="description"
          id="description"
          ></textarea>
        <br>

        <button type="submit">Create List</button>
      </p>
    </form>
  </body>
</html>