<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
  <%- include('partials/_navbar.ejs') %>
  <h1>Check the weather</h1>
    <form action="/weather" method="POST">
      <p>
        <label for="zip">ZIP Code:</label>
        <input
          type="text"
          name="zip"
          id="zip"
        />
        <br>
        <button type="submit">Get weather</button>
      </p>
    </form>
  </body>
</html>