h1 {
  margin-bottom: 30px;
}

#label {
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
}

#zip {
  padding: 5px;
  font-family: 'Calibri', sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 30px;
}

.button {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}
