h1 {
  margin-bottom: 35px;
}

#temperature {
    margin-bottom: 15px;
}

#weather {
  margin-bottom: 40px;
}

#saveLabel {
  font-size: 28px;
  font-weight: bold;   
}

#listId {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 280px;
}

#saveButton {
  padding: 0px 15px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#back {
    margin-top: 40px;
}