h1 {
    margin-bottom: 35px;
}

li {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  a {text-decoration: none;}
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 10px;
}

#link {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}
