h2 {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 35px;
}

li {
    list-style-position: inside;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
    a {text-decoration: none;}
}

p {
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.7;
}


#edit {
    margin: 35px 0px;
    font-size: 24px;
    font-weight: bold;
}

#delete {
  padding: 5px 15px;
  font-size: 22px;
  font-weight: bold;
}