.navbar {
    width: 100vw;
    padding: 18px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: black;
    font-size: 28px;
    font-weight: bold;

    a {color: rgb(209, 234, 238);}
    a:hover {color: rgb(23, 165, 201);}
    a {text-decoration: none;}
}

#partialContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    max-width: 1000px;
}